@import "normalize.css";
@import "./utils.scss";

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html {
  scroll-behavior: smooth;
}

body {
  --bg: #e6f4f1;
  --card-bg: #c8e8e0;
  --text-color: #151535;

  @include Scrollbar();
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  font-family: "Poppins", sans-serif;
  font-size: 12px;
  background-color: $off-white;
  color: $dark-blue-light-mode;

  transition: background-color $transition-time;

  &.dark {
    --bg: #13131d;
    --card-bg: #202032;
    --text-color: #e6f4f1;

    background-color: $dark-blue;
    color: $off-white;
  }
}

main {
  display: flex;
  flex-direction: column;

  width: 100%;
  max-width: $content-width;

  @media (max-width: $small-mq-width) {
    max-width: $small-content-width;
  }
}

section {
  padding-top: 7.5em;
}

@media (min-width: $medium-mq-width) {
  body {
    font-size: 16px;
  }
}
