@import "normalize.css";
@import "./utils.scss";

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html {
  scroll-behavior: smooth;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  font-family: "Poppins", sans-serif;
  font-size: 12px;
  background-color: $off-white;
  color: $dark-blue-light-mode;

  transition: background-color $transition-time, color $transition-time;

  &.dark {
    background-color: $dark-blue;
    color: $off-white;
  }
}

main {
  display: flex;
  flex-direction: column;
  // gap: 4.5em;

  width: 100%;
  max-width: $content-width;

  padding-block: 5em;
}

@media (min-width: $media-query-width) {
  body {
    font-size: 16px;
  }
}
