@import "./utils.scss";

.header {
  position: fixed;
  top: 0;

  font-family: inherit;

  display: flex;
  justify-content: center;

  background-color: inherit;

  width: 100%;

  padding: 1em 0;

  z-index: 2;

  > .container {
    display: flex;
    justify-content: space-between;
    align-items: center;

    width: calc($content-width + 7em);

    .themeButton {
      justify-self: start;

      @include Button(
        transparent,
        inherit,
        3em,
        3em,
        none,
        100%,
        transparent,
        null,
        none
      );

      > svg {
        transition: fill $transition-time;
      }

      &:hover {
        > svg {
          fill: $cyan;
        }
      }
    }

    .list {
      display: flex;

      text-transform: capitalize;

      > a {
        font-family: "Poppins";
        font-size: 0.9em;
        font-weight: 600;
        text-decoration: none;
        color: inherit;

        padding: 1em 1.2em;

        transition: color $transition-time;

        &.active {
          color: $cyan;
        }

        &:hover {
          color: $cyan;
        }
      }
    }

    .ctaButton {
      justify-self: end;

      @include Button(
        transparent,
        7.8em,
        2.7em,
        0.1em solid $cyan,
        0.25em,
        $cyan,
        $off-white,
        $cyan
      );

      font-weight: 600;
      text-transform: uppercase;
    }
  }

  /* Separator Bar */
  &::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 50%;

    background-color: $off-white;

    width: 100%;
    max-width: calc($content-width + 12.5em);
    height: 0.15em;

    border-radius: 1em;

    transform: translateX(-50%);
  }
}

@media (max-width: $medium-mq-width) {
  .header {
    &::after {
      width: $content-width;
    }
    > .container {
      width: $content-width;
    }
  }
}

@media (max-width: $small-mq-width) {
  .header {
    &::after {
      width: $small-content-width;
    }
    > .container {
      width: $small-content-width;
    }
  }
}
