@import "./utils.scss";

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;

  margin-top: -1.2em;

  > .title {
    @include SectionTitle;
  }

  > .projects {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1.5em;

    width: 100%;

    margin-top: 2em;

    > .project {
      position: relative;

      display: flex;
      align-self: flex-start;

      background-color: var(--card-bg);

      padding: 3em 2em;
      border-radius: 0.5em;
      outline: 0.15em solid transparent;

      transition: outline $transition-time, background-color $transition-time;

      img {
        cursor: pointer;
      }

      &:hover {
        img {
          position: relative;
          filter: brightness(0.7);
        }
      }

      @media (min-width: $small-mq-width) {
        &:hover,
        &:focus-within {
          outline-color: $cyan;

          img {
            scale: 1.05;
            filter: brightness(0.7);
          }
        }
      }

      > .type {
        display: flex;
        flex-direction: column;
        gap: 0.8em;

        margin: 0 12.9em 0 0;
        width: 27ch;

        > h4 {
          font-size: 1.3em;
          font-weight: 600;
          line-height: 0.8em;
          letter-spacing: 0.03em;

          transition: color $transition-time;
        }

        > p {
          display: -webkit-box;
          -webkit-line-clamp: 4;
          -webkit-box-orient: vertical;
          text-overflow: ellipsis;

          font-size: 0.75em;
          font-weight: 300;
          line-height: 1.5em;
          text-wrap: balance;

          transition: color $transition-time;
          overflow: hidden;
        }

        > .buttonsContainer {
          $button-width: 8em;
          $button-height: 2.6em;

          display: flex;
          gap: 0.7em;
          font-size: 0.75em;

          > .liveButton {
            @include Button(
              $cyan,
              $off-white,
              $button-width,
              $button-height,
              0.15em solid transparent,
              0.3em,
              transparent,
              inherit,
              0.15em solid $cyan
            );
            letter-spacing: 0.03em;
          }

          > .githubButton {
            @include Button(
              transparent,
              inherit,
              $button-width,
              $button-height,
              0.15em solid $cyan,
              0.3em,
              $cyan,
              $off-white,
              0.15em solid $cyan
            );
            letter-spacing: 0.03em;
          }

          a {
            display: flex;
            justify-content: center;
            align-items: center;

            text-decoration: none;
            color: inherit;

            width: 100%;
            height: 100%;
          }
        }
      }

      > .imgContainer {
        position: absolute;
        top: 50%;
        right: 0;

        width: 25em;
        height: 12.5em;

        transform: translate(50%, -50%);

        > img {
          border-radius: 0.5em;

          transition: scale $transition-time, filter $transition-time;
        }

        > .icon {
          position: absolute;
          top: 50%;
          left: 50%;

          color: $off-white;

          width: 2em;
          height: 2em;

          z-index: 1;

          cursor: pointer;
          transform: translate(-50%, -50%);
        }
      }

      &.flipped {
        align-self: flex-end;
        flex-direction: row-reverse;

        > .type {
          margin: 0 0 0 12.9em;
        }

        > .imgContainer {
          left: 0;
          transform: translate(-50%, -50%);
        }
      }

      @media (max-width: $small-mq-width) {
        width: 100%;
        flex-direction: column-reverse;
        justify-content: center;
        align-items: center;

        padding: 0;

        > .imgContainer {
          position: relative;

          width: 100%;
          height: 16em;

          transform: unset;

          cursor: pointer;

          > img {
            border-radius: 0.5em 0.5em 0 0;
          }
        }

        > .type {
          text-align: center;
          align-items: center;
          gap: 1em;

          padding-block: 2em;
          margin: unset;

          > .buttonsContainer {
            gap: 1.1em;
          }
        }

        &.flipped {
          width: 100%;
          flex-direction: column-reverse;

          > .imgContainer {
            transform: unset;
          }

          > .type {
            margin: unset;
          }
        }
      }
    }
  }

  > .galleryCover {
    position: fixed;
    inset: 0;

    display: flex;
    justify-content: center;
    align-items: center;

    background-color: rgba(0, 0, 0, 0.85);
    color: $off-white;

    padding: 10em;

    z-index: 2;

    > .imagesContainer {
      position: relative;

      display: flex;
      justify-content: center;
      align-items: center;
      gap: 1.2em;

      > p {
        position: absolute;
        top: -2.7em;

        font-size: 1.05em;
        font-weight: 500;
      }

      > .button {
        display: flex;
        justify-content: center;
        align-items: center;

        background-color: transparent;
        color: $off-white;

        width: 3.3em;
        height: 3.3em;

        border: none;
        border-radius: 100%;

        cursor: pointer;
        transition: background-color $transition-time;

        &:hover {
          background-color: $cyan;
        }

        @media (max-width: $small-mq-width) {
          position: absolute;
          bottom: -5em;

          &#next {
            right: 13em;
          }

          &#prev {
            left: 13em;
          }
        }
      }

      > .images {
        display: flex;

        width: 75vw;
        min-width: 36em;
        max-width: 58em;
        border-radius: 0.5em;

        overflow: hidden;

        > img {
          width: 100%;
          height: 100%;
        }
      }
    }
  }
}
