@import "./utils.scss";

.header {
  position: sticky;
  top: 0;

  font-family: inherit;

  display: flex;
  justify-content: center;

  background-color: $dark-blue;

  width: 100%;

  padding: 1.2em 0;

  z-index: 2;

  > .container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    place-items: center;

    width: calc($content-width + 7em);

    .themeButton {
      justify-self: start;

      @include Button(
        transparent,
        $off-white,
        3em,
        3em,
        none,
        100%,
        transparent,
        $off-white
      );

      > svg {
        fill: $off-white;

        transition: fill $transition-time;
      }

      &:hover {
        > svg {
          fill: $cyan;
        }
      }
    }

    .list {
      justify-self: center;

      display: flex;
      gap: 0.5em;

      text-transform: capitalize;

      > a {
        font-family: "Poppins";
        font-size: 0.9em;
        font-weight: 600;
        text-decoration: none;
        color: inherit;

        padding: 1em;

        transition: color $transition-time;

        &.active {
          color: $cyan;
        }

        &:hover {
          color: $cyan;
        }
      }
    }

    .ctaButton {
      justify-self: end;

      @include Button(
        transparent,
        $off-white,
        7.8em,
        2.7em,
        0.1em solid $cyan,
        0.25em,
        $cyan,
        $off-white,
        $cyan,
        2em
      );

      font-weight: 600;
      text-transform: uppercase;
    }
  }

  /* Separator Bar */
  &::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 50%;

    background-color: $off-white;

    width: 100%;
    max-width: calc($content-width + 12.5em);
    height: 0.15em;

    border-radius: 1em;

    transform: translateX(-50%);
  }
}
