$off-white: #e6f4f1;
$cyan: #00a6b4;
$dark-blue: #13131d;

$transition-time: 0.25s;

$font-path: "/fonts";
$font-styles: (
  (100, "thin", normal),
  (100, "thinitalic", italic),
  (200, "extralight", normal),
  (200, "extralightitalic", italic),
  (300, "light", normal),
  (300, "lightitalic", italic),
  (400, "regular", normal),
  (400, "italic", italic),
  (500, "medium", normal),
  (500, "mediumitalic", italic),
  (600, "semibold", normal),
  (600, "semibolditalic", italic),
  (700, "bold", normal),
  (700, "bolditalic", italic),
  (800, "extrabold", normal),
  (800, "extrabolditalic", italic),
  (900, "black", normal),
  (900, "blackitalic", italic)
);

@each $weight, $name, $style in $font-styles {
  @font-face {
    font-family: "Poppins";
    src: url("#{$font-path}/Poppins-#{$name}.ttf") format("truetype");
    font-weight: $weight;
    font-style: $style;
  }
}

@mixin Button(
  $bg-clr,
  $txt-clr,
  $width,
  $height,
  $border,
  $border-rd,
  $hvr-bg-clr,
  $hvr-txt-clr,
  $hvr-border: none,
  $line-hgt: 1em
) {
  display: flex;
  justify-content: center;
  align-items: center;

  font-family: inherit;
  line-height: $line-hgt;

  background-color: $bg-clr;
  color: $txt-clr;

  text-transform: capitalize;
  white-space: nowrap;

  width: $width;
  height: $height;

  border: $border;
  border-radius: $border-rd;

  cursor: pointer;
  transition: background-color $transition-time, color $transition-time;

  &:hover {
    background-color: $hvr-bg-clr;
    color: $hvr-txt-clr;

    border: $hvr-border;
  }
}
